<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @item.picture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Rentunitprice:</strong>
  <%= @item.rentUnitPrice %>
</p>

<p>
  <strong>Unittime:</strong>
  <%= @item.unitTime %>
</p>

<p>
  <strong>Minimumrentingtime:</strong>
  <%= @item.minimumRentingTime %>
</p>

<p>
  <strong>Maximumrentingtime:</strong>
  <%= @item.maximumRentingTime %>
</p>

<p>
  <strong>Totalvalue:</strong>
  <%= @item.totalValue %>
</p>

<p>
  <strong>Isavailable:</strong>
  <%= @item.isAvailable %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
